.footer{
    height: 4.375rem;
    display: flex;
    justify-content: center;
    border-top: 2px solid #ccc;
    padding: 2rem 0 1.5rem;
    box-sizing: border-box;
    &__text{
        margin: 0;
        padding: 0;
    }
}